<div class="container">
  <div class="top-stories">
    <h2>Top Stories</h2>
  </div>
  <ul class="outer-list story">
    <% @stories.each_with_index do |story, index| %>
      <li>
        <%= render partial: 'layouts/upvote_downvote',
            locals: {objs: [story], user_vote: @user_vote[index] } %>
        <div class="title-desc">
          <%= link_to story.title, url_for(story.link), target: "_blank" %>
        </div>
        <div class="metadata">
          <ul class="inner-list">
            <li>
              <%= link_to "discuss [#{pluralize(story.comments.count, 'comment')}]", story %>
            </li>
            <li>
              <%= pluralize(story.vote_score, 'point') %>
              <%#= "#{story.hot} Reddit Points" %>
            </li>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>
