<%= @story.title %> posted by <%= @story.user.username %>
<ul>
  <% @story.comments.each do |comment| %>
    <li>
      <%= comment.user.username %> says: <%= comment.body %><br>
    </li>
  <% end %>
</ul>
