<nav class="navbar navbar-default">
  <ul class="nav nav-pills">
    <li><h3>PCombinator</h3></li>
    <% if user_signed_in? %>
    <li><h6>Signed in as <%= current_user.email %></h6></li>
      <li><%= link_to "Sign out", destroy_user_session_path,
              { method: :delete, class: 'btn btn-primary' } %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path,
              class: 'btn btn-primary' %></li>
      <li><%= link_to "Sign up", new_user_registration_path,
              class: 'btn btn-primary' %></li>
    <% end %>
  </ul>
</nav>

