<%= form_for [@story, comment] do |f| %>
<div class="form-container bigger">
  <%= f.label :body, "Comment", class: "display-none" %>
  <%= f.text_area :body, class: 'form-control', cols: "50", rows: "10" %>
</div>
  <%= f.submit "Comment!", class: "btn btn-blue" %>
<% end %>
