<div class="up-down">
    <% if user_vote <= 0 %>
      <%= link_to "", [objs, :upvote].flatten, { method: :post,
            class: "btn vote glyphicon glyphicon-chevron-up" } %>
    <% end %>
    <% if user_vote >= 0 %>
      <%= link_to "", [objs, :downvote].flatten, { method: :post,
            class: "btn vote glyphicon glyphicon-chevron-down" } %>
    <% end %>
</div>
